
@media only screen and (max-width: 600px) {

.linktext {
  position: relative;
  color: white;
}

.container {
    /* position: absolute; */
    background-color: black;
    height: 100vh;
    width: 100vhw;
    background-position: 0px 0px;
    background-repeat: repeat;
}
    
.vertical {
    position: relative;
    margin-left:15%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40%;
}

.top {
    /* flex: 1; */
    margin-bottom: 70%;
}

.bottom{
    flex: 1;
    margin-bottom: 0;
    transform: rotate(180deg);
    margin-right: 100%;
    width:100%
}

.horizontal {
    margin-top: -77%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
  width:100%;
  height:100%;
  text-align: center;
  transform: rotate(-90deg);
  margin-right: 25%;
  margin-bottom: 16%;
}

.right {
  width:100%;
  height:100%;
  transform: rotate(90deg);
  margin-right: 0%;
}

.reload {
  margin-left: 40%
}


  }

